<div>
    <form >
        <h2>Ingrese sus datos</h2>
        <div class="form-group">
            <label for="txtNombre">Nombre: </label>
            <input type="text" id="txtNombre" placeholder="Nombre">
        </div>
        <div class="form-group">
            <input type="text" id="txtApellido" placeholder="Apellido">
        </div>
        <div class="form-group">
            <input type="text"  id="txtDireccion" placeholder="Direccion">
        </div>
        
        <div class="form-group">
            <!--aca deberia guardar los datos obtenidos de los input-->
            <button (click)="anadirDatos(txtNombre.value)" >Guardar datos</button>
        </div>
    </form>
</div>