<!--Formulario de alta de clientes-->
<div>
    <form method="POST" class="form" (ngSubmit)="submit()" #listaClienteForm="ngForm">
        <h4>Ingrese sus datos</h4>
        <div class="form-group">
            <label for="txtNombre">Nombre: </label>
            <input type="text" id="txtNombre" name="txtNombre" placeholder="Nombre" [(ngModel)]="model.nombre" required/>
        </div>
        <div class="form-group">
            <label for="txtApellido">Apellido: </label>
            <input type="text" id="txtApellido" name="txtApellido"  placeholder="Apellido" [(ngModel)]="model.apellido" required/>
        </div>
        <div class="form-group">
            <label for="txtDireccion">Direccion: </label>
            <input type="text"  id="txtDireccion" name="txtDireccion" placeholder="Direccion" [(ngModel)]="model.direccion" required/>
        </div>
        
        <div class="form-group">            
            <button type="submit" class="btn btn-primary" >Guardar datos</button>
        </div>
    </form>
</div>